
html {overflow: auto;}
html, body, div, iframe {margin: 0px; padding: 0px; height: 100%; border: none;}
iframe {z-index:0;display: block; width: 100%; border: none; overflow-y: auto; overflow-x: hidden;}

#url{
  z-index: 888;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
}
#nextUrl{
  position:absolute;
  top:0px;
  left:0px; 
  z-index: 777;
  width:100%;
}

#logo{
  width: 340px;
  top: 20px;
  left: 20px;
  z-index:9999;
  position:fixed;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-color: white; /* For IE8 and earlier */
  background-image: url('../img/50-20-10.png') !important;
  background-repeat: repeat;
  overflow: hidden;
  height: auto;
  padding: 0px 0px 12px 0px;
}

#logo{
    box-shadow: 0 0px 15px #222;
   -webkit-box-shadow: 0 0 15px #222;
   -moz-box-shadow: 0 0 15px #222;
} 

body.ie6 #logo,
body.ie7 #logo,
body.ie8 #logo {
   zoom: 1;
   filter: progid:DXImageTransform.Microsoft.Shadow(Color=#222, Strength=15, Direction=0),
           progid:DXImageTransform.Microsoft.Shadow(Color=#222, Strength=15, Direction=90),
           progid:DXImageTransform.Microsoft.Shadow(Color=#222, Strength=15, Direction=180),
           progid:DXImageTransform.Microsoft.Shadow(Color=#222, Strength=15, Direction=270);
}


img{
  width: 309px;
  height: 134px;
  margin: 14px 14px 22px;
}

.contact{
 margin-left: 14px; 
 font-family: 'Andale Mono', serif;
 cursor:pointer;
 z-index: 9999;
}

#formulaire{
  display:none;
  overflow:hidden;
  margin: 14px;
  height:175px;
}

#formulaire input, textarea{
  margin:4px 0px 0px;
  background: white;
  font-family: 'Andale Mono', serif;
  width: 305px;
  display:block;
}

#formulaire textarea{
  height: 59px;
}

#formulaire input[type="submit"]{
  width:auto;
  text-align: center;
  float: right;
  border: none;
}
