
html {overflow: auto;}
html, body, div, iframe {margin: 0px; padding: 0px; height: 100%; border: none;font-size: 10px; font-family: "Andale Mono", "Lucida Console", Monaco, monospace;}
iframe {z-index:0;display: block; width: 100%; border: none; overflow-y: auto; overflow-x: hidden;}

#url{
  z-index: 888;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
}
#nextUrl{
  position:absolute;
  top:0px;
  left:0px; 
  z-index: 777;
  width:100%;
}

#logo{
  width: 385px;
  top: 0px;
  left: 0px;
  z-index:9999;
  position:fixed;
  opacity: 0.9;
  filter: alpha(opacity=90);
  background-color: white; /* For IE8 and earlier */
  /*background-image: url('../img/50-20-10.png') !important;*/
  background-repeat: repeat;
  overflow: hidden;
  height: auto;
  padding: 0px 0px 12px 0px;
}

#logo{
    box-shadow: 0 0px 15px #222;
   -webkit-box-shadow: 0 0 15px #222;
   -moz-box-shadow: 0 0 15px #222;
} 

body.ie6 #logo,
body.ie7 #logo,
body.ie8 #logo {
   zoom: 1;
   filter: progid:DXImageTransform.Microsoft.Shadow(Color=#222, Strength=15, Direction=0),
           progid:DXImageTransform.Microsoft.Shadow(Color=#222, Strength=15, Direction=90),
           progid:DXImageTransform.Microsoft.Shadow(Color=#222, Strength=15, Direction=180),
           progid:DXImageTransform.Microsoft.Shadow(Color=#222, Strength=15, Direction=270);
}


img{
  width: 354px;
  height: 155px;
  margin: 18px 31px 2px 0px;
}

li{
  text-align: right;
  padding-right: 96px;
  style: none;
}
ul{
  list-style: none;
  list-style-image: none;
}

.blue{
  color: blue;
}

.contact{
 cursor:pointer;
 z-index: 9999;
 position: absolute;
 left: 60px;
 top: 113px;
 color:black;
 
}

#formulaire{
  display:none;
  overflow:hidden;
  text-align: right;
  padding-right: 96px;
  height:175px;
}

#formulaire input, textarea{
  text-align: right;
  padding-right: 96px;
  margin:0px 0px 0px;
  background: white;
  width: 305px;
  display:block;
}

#formulaire textarea{
  height: 59px;
}

#formulaire input[type="submit"]{
  text-align: right;
  padding-right: 96px;
  border: none;
  color: red;
}
