
html {overflow: auto;}
html, body, div, iframe {margin: 0px; padding: 0px; height: 100%; border: none;}
iframe {z-index:0;display: block; width: 100%; border: none; overflow-y: auto; overflow-x: hidden;}
div#logo{z-index:999; position:fixed;} 
img
{
opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */
}
